# Maven target directory
/target/

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws
/out/

# VS Code
.vscode/

# Eclipse
.project
.classpath
.settings/

# OS-specific
# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Logs
*.log

# Temporary files
*.tmp
*.swp
*.swo
*~
